body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.title-1 {
    font-size: 65px;
    font-weight: bold;
    margin: 10px;
}

.top-image {
    height: 100vh;
    width: 90%;
    background-image: url(images/sylhet.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    text-align: center;
    color: white;

}

.banner-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.donate {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.donate-description {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: gray;
    margin-bottom: 15px;
}

.amount-btn {
    padding: 20px 30px;
    background-color: rgb(248, 246, 246);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    font-weight: bold;

}

.amount-btn2 {
    padding: 20px 30px;
    background-color: rgb(252, 220, 220);
    border-radius: 5px;
    border-color: red;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: red;
    font-weight: bold;

}

.buttons {
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.other-amount {
    text-align: center;
    color: gray;
    font-size: 15px;
}


.donate-plan {
    margin-top: 70px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    justify-items: auto;

}

.title-2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.title-3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.card1 {
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 25px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
    margin-top: 5px;
    transition: .8ms;
    display: flex;
    background-color: rgb(214, 253, 253);

}

.card1:hover {
    transition: .5s;
    /* transform: rotate(360deg); */
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid rgb(226, 30, 30);
}

.card2 {
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 25px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
    margin-top: 5px;
    transition: .8ms;
    display: flex;
    background-color: rgb(253, 240, 222);

}

.card2:hover {
    transition: .5s;
    /* transform: rotate(360deg); */
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid rgb(226, 30, 30);
}

.card3 {
    width: 270px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 25px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
    margin-top: 5px;
    transition: .8ms;
    display: flex;
    background-color: rgb(252, 227, 227);

}

.card3:hover {
    transition: .5s;
    /* transform: rotate(360deg); */
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid rgb(226, 30, 30);
}


.food-icon {
    width: 50px;
}

.shelter-icon {
    width: 50px;
}

.study-icon {
    width: 50px;
}

.method {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

}

.donation-method {
    display: flex;
    margin-bottom: 150px;
}

.they-need-us {
    width: 50%;
    padding-left: 2%;
}

.they-need-us img {
    width: 80%;
}

.they-need-us2 {
    width: 50%;
    padding-left: 2%;
}

.they-need-us2 img {
    width: 80%;
}

.contribute-btn {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.last-heading {
    text-align: center;
}

.last-heading2 {
    text-align: center;
    font-size: 15px;
}

.mail {
    display: flex;
    font-weight: 100px;
    font-display: flex;
    background-color: wheat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 650px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.mail-email {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    font-size: 18px;
    color: #0F121F;
    text-align: center;
    align-content: center;

}

.mail-button {
    background: #3D9FFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    align-self: center;
    text-align: center;
}

.mail-button:hover {
    box-shadow: 0 10px 20px rgba(61, 159, 255, 0.7);
}



.footer-text {
    background-color: black;
}

.last-text {
    text-align: center;
    color: red;
    padding: 20px 10px;
}

.last-text2 {
    text-align: center;
    color: white;
    padding: 20px 10px;
}